.about {
    width: 100%;
    height: auto;
    margin-top: 150px;
}

.about_title {
    font-size: 33px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 15px;
}

.about_mission_title,
.about_us-apart_title,
.vision_title {
    margin: 30px 0;
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
}

.about_mission,
.about_us-apart {
    margin-bottom: 20px;
}

.about_mission p,
.about_us-apart p {
    margin-bottom: 10px;
    line-height: 22px;
}

.about_us-apart h4,
.vision h4 {
    margin: 15px 0;
    font-weight: bold;
    color: #333;
    font-size: 22px;
}

.title_block .title_text {
    width: 40%;
    height: auto;
}

.title_block .title_img {
    width: 54%;
    height: auto;
}

.title_block .title_img img {
    width: 100%;
    height: 100%;
}


.mission_block .mission_img {
    width: 54%;
    height: auto;
}

.mission_block .mission_text {
    width: 40%;
    height: auto;
}

.mission_block .mission_img img {
    width: 100%;
    height: auto;
}

.apart_block {
    margin-top: 70px;
}

.apart_block .apart_text {
    width: 40%;
    height: auto
}
.apart_block .apart_img {
    width: 55%;
    height: auto;
}

.apart_block .apart_img img {
    width: 100%;
    height: 100%;
}

.vision_block {
    width: 100%;
    height: auto;
    padding: 20px 0;
    margin-top: 70px;
    position: relative;
}

.vision_block .vision_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/store_pic4.jpg') center/cover no-repeat;
    filter: blur(2px);
    z-index: -1;
}

.vision_block .vision_1,
.vision_block .vision_2 {
    width: 45%;
    height: auto;
}

.vision_block .vision_title {
    text-align: center;
    color: #fff;
}

.vision_block .vision_1 h4,
.vision_block .vision_2 h4 {
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
}

.vision_block .vision_1 p,
.vision_block .vision_2 p {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    opacity: 0.8;
    line-height: 22px;
}

.thanks_block {
    width: 100%;
    height: auto;
    background: url('../img/store_pic4.jpg') center/cover no-repeat;
    padding: 45px 0;
    margin-top: 70px;
}

.thanks_block .thanks_title {
    color: #fff;
    text-align: center;
    font-size: 22px;
}