.categories {
    width: 100%;
    margin-top: 125px;
}

.categories .search {
    width: 100%;
    margin-bottom: 30px;
}

.categories .search .search_inp,
.search_btn {
    padding: 15px;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.categories .search .search_inp {
    width: 80%;
}

.categories .search .search_btn {
    width: 18%;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    background-color: #007bff;
    color: #fff;
}

.categories .search .search_btn:hover {
    background-color: #0f54d6;
}

.categories nav {
    margin-top: 30px;
}

.categories ul {
    display: flex;
    justify-content: space-between;
}

.categories ul>li {
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.categories ul li>a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #000;
}

.categories nav ul li {
    position: relative;
}

.categories nav ul li a {
    display: block;
    padding: 10px 15px;
    color: #333;
}

.categories nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.categories nav ul li:hover ul {
    display: block;
}

.categories nav ul li ul li {
    border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.categories nav ul li ul li a {
    color: #333;
}

.categories nav ul li ul li a:hover {
    color: #000;
}

.products {
    margin: 50px auto;
}
