.container {
    width: 500px;
    background-color: #333;
    padding: 35px 0;
    border-radius: 8px;
    margin: 150px auto 0 auto;
}

.container h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}

.container .subtitle {
    margin-bottom: 20px;
    text-align: center;
    color: #666;
}

.container .error_message {
    color: red;
    margin-bottom: 10px;
}

.container .form-group {
    margin-bottom: 15px;
}

.container label {
    margin-bottom: 5px;
    color: #fff;
    display: block;
}

.container input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.container button[type="submit"] {
    width: 100%;
    padding: 12px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

.container button[type="submit"]:hover {
    background-color: #0056b3;
}

.container .not-registered {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.container .not-registered p {
    font-size: 17px;
    color: #fff;
}

.container .not-registered a {
    color: #0056b3;
    margin-left: 10px;
}
