.order_quantity {
    color: #555;
}

.order_price {
    color: #39e75f;
    font-weight: 600;
}

.order_status {
    font-size: 0.9em;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
    user-select: none;
    margin-left: 5px;
}

.order_status.pending {
    color: #fff;
    background-color: #f0ad4e;
}
.order_status.processing {
    color: #fff;
    background-color: #5bc0de;
}
.order_status.shipped {
    color: #fff;
    background-color: #f0ad4e;
}
.order_status.delivered {
    color: #fff;
    background-color: #5cb85c;
}