.products {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 150px auto;
}

.orders {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders .orders-empty__title {
    margin-bottom: 12px;
    font-size: 25px;
}

.orders .orders-empty__text {
    width: 40%;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 22px;
    color: #868695;
}

.orders .orders-empty__btn {
    padding: 8px 24px 10px;
    font-size: 17px;
    cursor: pointer;
    background-color: #135fed;
    color: #fff;
    border-radius: 20px;
}