.products {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 150px auto;
}

.products_title {
    color: #000;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
}

.products_title::before,
.products_title::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #000;
    display: block;
    margin: auto;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}

.products .product_box {
    width: 23%;
    height: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 30px 20px 0 0;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.products .product_box .product_img {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.products .product_box h2 {
    color: #ffd438;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.products .product_box h2::before,
.products .product_box h2::after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #FDC70C;
    display: block;
    margin: auto;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}

.products .product_box .product_name {
    width: 85%;
    margin: 10px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.products .product_box .product_price {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.products .product_box .quantity {
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

.products .product_box .quantity input,
.products .product_box .quantity p,
.products .product_box .quantity .shopping_cart_block,
.products .product_box .quantity .shopping_bin_block {
    width: 20%;
    height: auto;
}

.products .product_box .quantity p {
    user-select: none;
}

.products .product_box .quantity input {
    text-align: center;
    padding: 5px;
    font-size: 16px;
    color: #000;
}

.products .product_box .quantity p {
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
}

.products .product_box .quantity button.decrement:disabled {
    background-color: #ddd;
    cursor: not-allowed;
    color: #777;
}

.products .product_box .quantity .bin,
.products .product_box .quantity .shopping_cart {
    width: 100%;
    height: auto;
    margin-left: 20px;
    cursor: pointer;
}

.products .product_box .quantity .bin img,
.products .product_box .quantity .shopping_cart img {
    width: 70%;
    height: auto;
}

.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.basket .basket-empty__title {
    margin-bottom: 12px;
    font-size: 25px;
}

.basket .basket-empty__text {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 22px;
    color: #868695;
    width: 40%;
}

.basket .basket-empty__btn {
    border-radius: 20px;
    padding: 8px 24px 10px;
    font-size: 17px;
    cursor: pointer;
    background-color: #135fed;
    color: #fff;
}

.product_box .buy_now {
    padding: 10px 35px;
    background-color: #00d4ff;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-size: 15px;
}

.product_box .buy_now:hover {
   background-color: #02c8f0;
}