.container {
    width: 700px;
    background-color: #333;
    padding: 35px 0;
    border-radius: 8px;
    margin: 150px auto 0 auto;
}

.container h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}

.container .subtitle {
    margin-bottom: 20px;
    text-align: center;
    color: #666;
}

.container .groups .first-group, .second-group, .third-group {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .error-message {
    color: red;
    margin-bottom: 10px;
}

.container .form-group {
    width: 48%;
    margin-bottom: 15px;
}

.container label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 18px;
}

.container input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

.container button[type="submit"] {
    width: 100%;
    padding: 12px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

.container button[type="submit"]:hover {
    background-color: #0056b3;
}
