section {
    margin-top: 150px;
    text-align: center;
}

.success_title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.success_text {
    font-size: 16px;
    color: #666;
}

.success_text a {
    color: blue;
}

.success_text a:hover {
    text-decoration: underline;
}