<!DOCTYPE html>
<html>
<head>
    <title>Checkout canceled</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/header.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/cancel.css">
</head>
<body>
    <header>
        <div class="size">
            <div class="around">
                <div class="header_box logo">
                    <h1><a href="/api/home/">BuildSupply Co</a></h1>
                </div>
                <div class="header_box menu">
                    <nav>
                        <ul>
                            <li><a href="/api/about/">About Us</a></li>
                        {% if store_user %}
                            <li><a href="/api/cart/">Cart</a></li>
                            <li><a href="/api/orders/">Orders</a></li>
                            <li><a href="/api/purchases/">Purchases</a></li>
                            <li>Profile
                                <ul>
                                    <li><a href="/api/user/profile/{{ store_user.id }}/">Settings</a></li>
                                    <li><a href="/api/user/logout/">Log out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="/api/user/login/">Sign In</a></li>
                        {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section>
        <p class="cancel_text">Forgot to add something to your cart? <a href="/api/home/">Shop around</a>, then come back to pay!</p>
    </section>
</body>
</html>