<!DOCTYPE html>
<html>
<head>
    <title>Thanks for your order!</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/header.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/success.css">
</head>
<body>
    <header>
        <div class="size">
            <div class="around">
                <div class="header_box logo">
                    <h1><a href="/api/home/">BuildSupply Co</a></h1>
                </div>
                <div class="header_box menu">
                    <nav>
                        <ul>
                            <li><a href="/api/about/">About Us</a></li>
                            <li><a href="/api/cart/">Cart</a></li>
                            <li><a href="/api/orders/">Orders</a></li>
                            <li><a href="/api/purchases/">Purchases</a></li>
                            <li>Profile
                                <ul>
                                    <li><a href="/api/user/profile/{{ store_user.id }}/">Settings</a></li>
                                    <li><a href="/api/user/logout/">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section>
        <h2 class="success_title">Your payment was successful!</h2>
        <p class="success_text">
            Thank you for your order.
            If you have any questions, please email -
            <a href="">suren.saroyannn@gmail.com</a>.
        </p>
    </section>
</body>
</html>