<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuildSupply Co</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/header.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/forgot_password.css">
</head>
<body class="center">
    <header>
        <div class="size">
            <div class="around">
                <div class="header_box logo">
                    <h1><a href="/api/home/">BuildSupply Co</a></h1>
                </div>
                <div class="header_box menu">
                    <nav>
                        <ul>
                            <li><a href="/api/about/">About Us</a></li>
                            <li><a href="/api/user/login/">Sign In</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="container">
        <div class="size">
            {% if error %}
                <p class="error_message">{{ error }}</p>
            {% endif %}
            <form action="/api/user/forgot-password/" method="post">
            {% csrf_token %}
                <div class="size">
                    <input type="text" placeholder="Phone Number or Email" name="number_or_email" required>
                    <input type="submit" value="Send pas code">
                </div>
            </form>
        </div>
    </section>
</body>
</html>
