<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuildSupply Co</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/header.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/products.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/purchase.css">
</head>
<body>
    <header>
        <div class="size">
            <div class="around">
                <div class="header_box logo">
                    <h1><a href="/api/home/">BuildSupply Co</a></h1>
                </div>
                <div class="header_box menu">
                    <nav>
                        <ul>
                            <li><a href="/api/about/">About Us</a></li>
                            <li><a href="/api/cart/">Cart</a></li>
                            <li><a href="/api/orders/">Orders</a></li>
                            <li><a href="/api/purchases/">Purchases</a></li>
                            <li>Profile
                                <ul>
                                    <li><a href="/api/user/profile/{{ store_user.id }}/">Settings</a></li>
                                    <li><a href="/api/user/logout/">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="products">
        <div class="size">
        {% if bought_items %}
            <h2 class="products_title">Purchases</h2>

            <div class="wrap">
                {% for bought_item in bought_items %}
                    <div class="product_box">
                        <a href="/payment/product/{{ bought_item.product.id }}/"><img src="{{ bought_item.product.image.url }}"
                                                                     alt="Product Image" class="product_img"></a>
                        <h5 class="product_name">{{ bought_item.product.name }}</h5>
                        <div>
                            <span class="order_quantity">{{ bought_item.quantity }} piece{{ bought_item.quantity|pluralize }} - </span>
                            <span class="order_price">{{ bought_item.product_price }}֏</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="basket size">
                <h3 class="basket-empty__title">Your deliveries will be here</h3>
                <p class="basket-empty__text">Place your order in your cart and check back to see where the items are now.</p>
                <a class="basket-empty__btn" href="/api/cart/">Go to Cart</a>
            </div>
        {% endif %}
        </div>
    </section>
</body>
</html>